{{ define "contacts_page" }}
{{ template "header" }}
{{ template "side_bar" }}

<link rel="stylesheet" href="/static/styles.css">

<body>
    <div class="contacts-main">
        <div class="contacts-text">
            <h1>Genesis WebSocket Chat</h1>
                <div id="userStatus">Статус: <span id="status">Подключение...</span></div>
                <input type="text" id="usernameInput" placeholder="Введите ваше имя:">
                <div id="messages" class="messages"></div>
            <div class="input-area">
                <input type="text" id="messageInput" placeholder="Введите сообщение..." autocomplete="off">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
    
    <script>
        // const socket = new WebSocket("ws://localhost:8080/ws");
        const socket = new Websocket("wss://optically-better-bustard.cloudpub.ru:8080/ws");
        const messagesContainer = document.getElementById("messages");
        const messageInput = document.getElementById("messageInput");
        const status = document.getElementById("status");
        const usernameInput = document.getElementById("usernameInput");

        if (!window.WebSocket) {
            alert("WebSocket не поддерживается вашим браузером");
            return;
        }

        socket.onopen = function(event) {
            userStatus.textContent = "Подключено";
            userStatus.style.color = "green";
            addMessage("System", "Connected to chat", new Date().toLocaleTimeString());
        };

        socket.onmessage = function(event) {
            const msg = JSON.parse(event.data);
            addMessage(msg.username, msg.content, msg.time);
        };

        socket.onclose = function(event) {
            addMessage("System", "Disconnected from chat");
            userStatus.style.color = "red";
            userStatus.textContent = "Отключено"; 
            addMessage("System", "Disconnected from chat", new Date().toLocaleTimeString())
        };

         socket.onerror = function(error) {
            userStatus.textContent = "Ошибка";
            userStatus.style.color = "orange";
            addMessage("System", "Connection error", new Date().toLocaleTimeString());
        };

        function sendMessage() {
            const message = messageInput.value.trim();
            const username = usernameInput.value.trim();

            if (socker.readyState != Websocket.OPEN){
                addMessage(System, "Соединение не усатновдено", new Date().toLocaleTimeString());
                return;
            }

            if (message && socket.readyState === WebSocket.OPEN) {
                const msg = {
                    username: username, 
                    content: message,
                    time: new Date().toLocaleTimeString()
                };
                socket.send(JSON.stringify(msg));
                messageInput.value = "";
            }
        }

        function addMessage(username, content, time) {
            const messageElement = document.createElement("div");
            messageElement.classList.add("message");
            if (username === "System") {
                messageElement.classList.add("system-message");
                messageElement.innerHTML = `<em>${content}</em>`;
            } else {
                messageElement.innerHTML = `<strong>${username}</strong> (${time}): ${content}`;
            }
            
            messagesContainer.appendChild(messageElement);
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        }

        messageInput.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                sendMessage();
            }
        });
        messageInput.focus();
    </script>
        </div>
    </div>
</body>    

<style> 
    .contacts-text{
        color: white;
        text-shadow: 0 0 5px;
        font-family: sans-serif;
        text-align: center;
        font-size: 24px;
        
        /* margin-right: 100px; */
        margin-right: 12%;
        margin-left: 100px;
    }

    .input-area {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    #messageInput {
        flex: 1;
        padding: 15px;
        border: 3px solid #6c6262;
        border-radius: 10px;

        margin-left: 200px;

        background-color: #5e5050;
        color: white;

        min-width: 0;
    }

    #usernameInput{
        flex: 1;
        padding: 10px;
        margin-bottom: 15px;
        border: 3px solid #6c6262;
        border-radius: 10px;

        min-width: 0;
    }

    .system-message {
        color: #ffffff;
        font-style: italic;
        text-align: center;
    }
    
    #userStatus {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .messages{
        background-color: #5e5050;
        overflow-y: auto; 
        min-height: 200px;
        max-height: 400px;
        height: auto;
        border-radius: 15px;
        margin-right: 150px;  
        margin-left: 200px;

        border: 3px solid #6c6262;
        

        padding-top: 20px;
        padding-left: 460px;

        word-wrap: break-word;
    }

    .messages::-webkit-scrollbar {
        width: 10px;              
    }

    .messages::-webkit-scrollbar-track {
        background: #353535;     
        border-radius: 4px;
    }

    .messages::-webkit-scrollbar-thumb {
        background: #7b7b7b;     
        border-radius: 4px;
    }

    .chat-container{
        margin-left: 100px;
        margin-right: 10px;
    }

    @media (max-width: 1024px) {
            .contacts-main {
                padding: 15px;
            }
            
            .messages {
                max-height: 45vh;
                padding: 15px;
            }
            
            .input-area {
                max-width: 500px;
            }
            
            #messageInput, button {
                padding: 12px 20px;
            }
        }

    button {
        background-color: #444547;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-right: 150px;
    }
    
    button:hover {
        background-color: #909090;
    }
    
</style>

{{ template "footer" }}
{{ end }}