{{ define "header" }}


<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/styles.css">

<title>Messanger</title>

<header class="header-main">
    <div class="header-text">    
        <div class="header-cols">
            <div class="header-cols-right"><img src="static\photos\channels4_profile.svg" width="150px"></div>
            <div class="header-cols-left">
                <h3 class="text-inside-header">Genesis</h3>
            </div>
        </div>
    </div>
    <div class="header-line"></div>
</header>


{{ end }}
 
