{{ define "home_page" }}
{{ template "header" }}


<link rel="stylesheet" href="/static/styles.css">
<body>
    <div class="home-main">
        <div class="home-container">
            <div class="home-text">
                <h1>   Общайтесь легко, быстро и безопасно </h1>
                    <h3>    Мгновенные сообщения, голосовые и видеозвонки — всё в одном приложении. Подключайтесь к друзьям, семье и коллегам без границ!</h3>
                    <h2>
                        <ul>   Ключевые преимущества (иконки + текст):
                            <li>Быстрая связь — отправляйте сообщения в один клик.</li>
                            <li>Групповые чаты — общайтесь с компанией до 1000 участников.</li>
                            <li>Шифрование — ваши переписки защищены.</li>
                            <li>Мультиплатформенность — доступ на телефоне, ПК и в браузере.</li>
                            <li>Стикеры и GIF — выражайте эмоции ярче.</li>
                        </ul>
                        📲 Скачайте бесплатно и начните общаться уже сегодня!
                    </h2>
            </div>  
        </div>  
        
        <div class="side_bar">
            {{ template "side_bar"}}
        </div>
    </div>
</body>
</header>


{{ template "footer" }}

{{ end }}