{{ define "main_page" }}
{{ template "header" }}
{{ template "side_bar"}}

<link rel="stylesheet" href="/static/styles.css">
<body>
    <div class="main-main">
        <div class="main-text">  
                Мгновенные сообщения, голосовые и видеозвонки — всё в одном приложении. Подключайтесь к друзьям, семье и коллегам без границ!
        </div>
    </div> 
<style>
    .main-text{
        color:white;
        text-shadow: 0 0 3px;
    }
</style>

</body>
</header>


{{ template "footer" }}
{{ end }}