{{ define "main_page" }}
{{ template "header" }}
{{ template "side_bar"}}

<link rel="stylesheet" href="/static/styles.css">
<body>
    <div class="main-main">
        <div class="main-text">  
                Мгновенные сообщения, подключайтесь к друзьям, семье и коллегам без границ!
        </div>
    </div> 
</body>
<style>
    .main-text{
        color:white;
        text-shadow: 0 0 5px;
        margin-left: 100px;
        margin-right: 200px;
        font-size: 35px;
        font-family: sans-serif; 
    }
</style>


</header>


{{ template "footer" }}
{{ end }}