{{ define "main_page" }}
{{ template "header" }}
{{ template "side_bar"}}

<link rel="stylesheet" href="/static/styles.css">
<body>
    <div class="main-main">
        <div class="main-text">  
                Мгновенные сообщения, подключайтесь к друзьям, семье и коллегам без границ!
        </div>
    </div> 
<style>
    .main-text{
        color:white;
        text-shadow: 0 0 2px;
        margin-left: 100px;
        margin-right: 200px;
        
        font-family: sans-serif; 
    }
</style>

</body>
</header>


{{ template "footer" }}
{{ end }}