{{ define "reg_page" }}
{{ template "header" }}
{{ template "side_bar" }}
<link rel="stylesheet" href="/static/styles.css">
<body>
    <div class="reg-main">
        <div class="reg-text">
                {{ if .Error }}
                    <div class="error-message">
                {{ .Error }}
                     </div>
                {{ end }}
            <p>Please, type your password and login: </p>
            <form action="/reg/post" method="post">
            <div>
                <label for="username">Login:</label>
                <input type="text" name="username" required>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div> 
            <button type="submit" class="buttons">Enter</button>   
            <div style="border-bottom: solid 4px #ffffff; margin-top: 10px;"></div>
        </form>
        </div>
    </div>
</body>    


{{ template "footer" }}
{{ end }}